body, html {
  background-color: #343D39;
  color: #6D6466;
  height: 100%
}

.navbar {
  background-color: #36311F;
}

a.navbar-item:hover {
  background-color: #59544B;
}

article {
  padding-top: 3%;
  padding-left: 5%;
  padding-right: 5%;
}
.video {
  margin-left: auto;
  margin-right: auto;
}

.navbar-item {
  color: #6D6466;
}

.title {
  font-size: 40px;
  color: #6D6466;
}

.subtitle {
  color: #6D6466;
}
.label{
  color: #6D6466;
}
.list {
  font-size: 30px;
}

.footer {
  background-color: #343D39;
}

.parallax {
  background-image: url("banner2.jpeg");
  height: 48%;
  background-attachment: fixed;
  background-position: auto;
  background-repeat: no-repeat;
  background-size: auto;
}
.iconhome{
  padding-top: 13px;
  padding-left: 5px;
  padding-right: 5px;
}

ul {
  padding-left:20px;
  list-style:none;
 }

li:before {
  font-family: 'FontAwesome';
  content: '\f192';
  margin:0 5px 0 -15px;
  color: #6D6466;
}

.button.is-link {
  color: #6D6466;
  background-color: #36311F;
}

.button.is-link:hover{
  color: black;
  background-color: #59544B;
}

a{
  color: #6D6444;
}
